{
  "env": {
    "development": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": 4
          },
          "modules": false
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-unicode-property-regex"
      ]
    },
    "es2015": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": 6
          }
        }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-unicode-property-regex", {
          "useUnicodeFlag": true
        }]
      ]
    }
  }
}
