{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "plugins": ["transform-unicode-property-regex"]
  // Note: This configuration is overridden for files in src/es2015
}
