{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "node": 4
          }
        }]
      ],
      "plugins": [
        "transform-unicode-property-regex"
      ]
    },
    "es2015": {
      "presets": [
        ["env", {
          "targets": {
            "node": 6
          }
        }]
      ],
      "plugins": [
        ["transform-unicode-property-regex", {
          "useUnicodeFlag": true
        }]
      ]
    }
  }
}
